<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <connectionStrings>
    <add name="DBConnection" connectionString="Data Source=FRANCISCO\SQLEXPRESS;Initial Catalog=BooksDB;User ID=sa;Password=francisco" />
  <add name="BooksDBEntities" connectionString="metadata=res://*/BLL.BooksModelDB.csdl|res://*/BLL.BooksModelDB.ssdl|res://*/BLL.BooksModelDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=FRANCISCO\SQLEXPRESS;initial catalog=BooksDB;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>